/* Navbar styling */
nav {
    background-color: #fffdfd;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
  nav .left-menu {
    display: flex;
    opacity: 1;
  }
  
  nav .left-menu li {
    margin-right: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  nav .right-menu {
    display: flex;
    align-items: center;
  }
  
/* Main content styling */

.main-content {
    padding: 20px;
    text-align: center;
  }
  
  .intro-box {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 0px;
    display: inline-block; 
    font-size: 25px;
    border-radius: 10px;
  }
  
  .main-heading {
    font-size: 70px;
    margin-bottom: 10px;
  }
  
  .tagline {
    font-size: 24px;
    margin-bottom: 20px; 
  }
  
  .section {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  

  /* Logo styling */
.logo {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

  .login-signup-btn {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
  }
  
  /* Apply zoom effect on hover for the button */
  .login-signup-btn:hover {
    transform: scale(1.1); 
  }


  .feature-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .text {
    flex: 1;
    padding-right: 10px;
  }
  
  .image {
    flex: 1;
    text-align: right;
    margin-left: 10px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }

 

  .justified-paragraph {
    text-align: justify;
    font-size: 18px; 
    font-family: Arial, sans-serif; 
  }
  
  .content-box {
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .pricing-text {
    font-size: 24px; 
    font-weight: bold; 
    color: rgb(61, 59, 59); 
    text-align: center; 
  }
  
  
